<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Home</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/add-new-user">Create User</a>
        <a href="/contact">Contact</a>
        <a href="/about">About</a>
      </div>

      <h1 class="title"> List user</h1>
     <div class="table-container">
        <table>
            <tr>
              <th class="thid">ID</th>
              <th class="themail">EMAIL</th>
              <th class="thname">NAME</th>
              <th class="thcity">CITY</th>
              <th class="thaction">ACTION</th>
            </tr>

            <!-- <% for (let i = 0; i < listUsers.length; i++) { %>
              <tr>
                <td class="tdid"><%=listUsers[i].id %></td>
                <td><%=listUsers[i].email %></td>
                <td><%=listUsers[i].name %></td>
                <td><%=listUsers[i].city %></td>
                <td class="thaction"> <input type="button" value="EDIT"> || <input type="button" value="DEL"></td>
              </tr>
            <% } %> -->

            <% listUsers.forEach(function(user) { %>
              <tr>
                <td class="tdid"><%=user.id %></td>
                <td><%=user.email %></td>
                <td><%=user.name %></td>
                <td><%=user.city %></td>
                <td class="thaction"> <a href="/update/<%=user.id %>">Edit</a> || <a href="/delete">Del</a></td>
              </tr>
            <% }) %>
            
          </table>
     </div>
</body>
</html>